# Auto detect text files and perform LF normalization
* text=auto

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
env/

# IDEs
.vscode/
.idea/

# Logs
*.log
